@media screen and (max-width: 600px) {
    #calculated-duration-container .w3-row {
        flex-direction: column;
    }

    #calculated-duration-container canvas {
        margin-top: 1rem;
        align-self: center;
    }
}

@media (max-width: 1023px) {
    .main-content-width {
        padding: 12px 5rem;
    }
}

@media (min-width: 1024px) {
    .main-content-width {
        padding: 12px 18rem;
    }
}

@media (min-width: 1550px) {
    .main-content-width {
        padding: 12px 30rem;
    }
}